<h1 class="page-header"><strong><%= @album.nom %></strong><%= @album.age %> ans</h1>

<ul class="galleries">
    <li class="gallery">
        <a href="<%= asset_path('clara.JPG') %>" data-lightbox="example-set">
            <img src="<%= asset_path('clara.JPG') %>"/>
        </a>
    </li>
    <li class="gallery">
        <a href="<%= asset_path('clara.JPG') %>" data-lightbox="example-set">
            <img src="<%= asset_path('clara.JPG') %>"/>
        </a>
    </li>
    <li class="gallery">
        <a href="<%= asset_path('clara.JPG') %>" data-lightbox="example-set">
            <img src="<%= asset_path('clara.JPG') %>"/>
        </a>
    </li>
    <li class="gallery">
        <a href="<%= asset_path('clara.JPG') %>" data-lightbox="example-set">
            <img src="<%= asset_path('clara.JPG') %>"/>
        </a>
    </li>
    <li class="gallery">
        <a href="<%= asset_path('clara.JPG') %>" data-lightbox="example-set">
            <img src="<%= asset_path('clara.JPG') %>"/>
        </a>
    </li>
    <li class="gallery">
        <a href="<%= asset_path('clara.JPG') %>" data-lightbox="example-set">
            <img src="<%= asset_path('clara.JPG') %>"/>
        </a>
    </li>
    <li class="gallery">
        <a href="<%= asset_path('clara.JPG') %>" data-lightbox="example-set">
            <img src="<%= asset_path('clara.JPG') %>"/>
        </a>
    </li>
    <li class="gallery">
        <a href="<%= asset_path('clara.JPG') %>" data-lightbox="example-set">
            <img src="<%= asset_path('clara.JPG') %>"/>
        </a>
    </li>
</ul>