<div id="header">
    <ul class="header-left-nav">
        <li <% if current_page?(:controller => 'application', :action => 'home') %>class="active"<% end %>>
            <a href="<%= root_path %>">ACCUEIL</a>
        </li>
        <li <% if current_page?(:controller => 'application', :action => 'galleries') %>class="active"<% end %>>
            <a href="<%= galleries_path %>">GALLERIES</a>
        </li>
    </ul>
    <a href="<%= root_path %>" id="logo">
        <img src="<%= asset_path('logo.png') %>"/>
    </a>
    <ul class="header-right-nav">
        <li <% if current_page?(:controller => 'application', :action => 'options') %>class="active"<% end %>>
            <a href="<%= options_path %>">OPTIONS</a>
        </li>
        <li <% if current_page?(:controller => 'application', :action => 'contact') %>class="active"<% end %>>
            <a href="<%= contact_path %>">CONTACT</a>
        </li>
    </ul>
</div>